@using Microsoft.AspNetCore.Http;

@model IEnumerable<Baza.Models.Links>

@{
    ViewData["Title"] = "Panel użytkownika";
    var a = 1;
}

<h2>Panel użytkownika @Context.Session.GetString("UserEmail")</h2>

<p>
    <a asp-controller="Links" asp-action="Create">Dodaj nowy link</a>
</p>

<table class="table">
    @foreach (var item in Model.Where(u => u.Users.UserId == @Context.Session.GetInt32("UserID")))
    {
        <tr>
            <td rowspan="2" class="col-md-2">
                @a
                <form asp-controller="Example" asp-action="Save" asp-route-id="@Html.ValueFor(modelItem => item.LinkId)">
                    <button type="submit">Like</button>
                </form>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                <a href="#collapseExample"> @Html.DisplayFor(modelItem => item.Link) </a>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
        a++;
    }
</table>