@using Microsoft.AspNetCore.Http;

@model IEnumerable<Baza.Models.Links>

@{
    ViewData["Title"] = "Home Page";
    var a = 1;
    int count = 0;
    var OwnLinks = Model.Where(u => u.Users.UserId == @Context.Session.GetInt32("UserID"));
}

<h2>Index</h2>

<table class="table table">
    @foreach (var item in Model)
    {
        //var UserLikes = item.Likes.Where(l => l.LinkID == item.LinkId).Where(u => u.UserID == @Context.Session.GetInt32("UserID"));
        count = item.Likes.Where(l => l.LinkID == item.LinkId).Count();
        <tr class="border-top-0">
            <td rowspan="2" class="col-md-1">
                @a
                @if (@Context.Session.GetInt32("UserID") != null)
                {
                    @if (item.Likes.Where(l => l.LinkID == item.LinkId).Where(u => u.UserID == @Context.Session.GetInt32("UserID")).Any())
                    {
                        <form asp-controller="" asp-action="">
                            <button type="submit" disabled>Like</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Likes" asp-action="Like" asp-route-id="@Html.ValueFor(modelItem => item.LinkId)" onsubmit="theButton.disabled = true; return true;">
                            <button type="submit">Like</button>
                        </form>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                (<a href="#collapseExample"> @Html.DisplayFor(modelItem => item.Link) </a>)
            </td>
        </tr>
        <tr>
            <td>
                @count
                Lajków, Dodano:
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
        a++;
    }
</table>

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Link)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Link)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.LinkId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.LinkId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.LinkId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@



