@using Microsoft.AspNetCore.Http;

@model IEnumerable<Baza.Models.Links>

@{
    ViewData["Title"] = "Home Page";
    var a = 1;
    int count = 0;
    var OwnLinks = Model.Where(u => u.Users.UserId == @Context.Session.GetInt32("UserID"));
}

<h2>Index</h2>

<nav>
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>

<table class="table table">
    @foreach (var item in Model)
    {
        //var UserLikes = item.Likes.Where(l => l.LinkID == item.LinkId).Where(u => u.UserID == @Context.Session.GetInt32("UserID"));
        count = item.Likes.Where(l => l.LinkID == item.LinkId).Count();
        <tr class="border-top-0">
            <td rowspan="2" class="col-md-1">
                @a
                @if (@Context.Session.GetInt32("UserID") != null)
                {
                    @if (item.Likes.Where(l => l.LinkID == item.LinkId).Where(u => u.UserID == @Context.Session.GetInt32("UserID")).Any())
                    {
                        <form asp-controller="" asp-action="">
                            <button type="submit" disabled>Like</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Likes" asp-action="Like" asp-route-id="@Html.ValueFor(modelItem => item.LinkId)" onsubmit="this.disabled = true; return true;" data-ajax="true" onclick="this.disabled = true">
                            <button type="submit" onclick="this.disabled = true">Like</button>
                        </form>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                (<a href="#collapseExample"> @Html.DisplayFor(modelItem => item.Link) </a>)
            </td>
        </tr>
        <tr>
            <td>
                @count
                Lajków, Dodano:
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
        a++;
    }
</table>

<nav>
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>

<nav>
    <vc:pager paging-list="@Model" />
</nav>

<script>
    $('form').submit(function () {
        if ($(this).valid()) {
            $(':submit', this).attr('disabled', 'disabled');
        }
    });
</script>