@model IEnumerable<Baza.Models.Links>

@{
    ViewData["Title"] = "Home Page";
    var a = 1;
    int count = 0;
}

<h2>Index</h2>

<table class="table">
    @foreach (var item in Model)
    {
        
        <tr>
            <td rowspan="2" class="col-md-2">
                @a
                <form asp-controller="Likes" asp-action="Like" asp-route-id="@Html.ValueFor(modelItem => item.LinkId)">
                    <button type="submit">Like</button>
                </form>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                <a href="#collapseExample"> @Html.DisplayFor(modelItem => item.Link) </a>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                
                @*@Html.DisplayFor(modelItem => item.Likes.Where(l => l.LinkID == item.LinkId))*@
            </td>
        </tr>
        a++;
    }
</table>

    @*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Link)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Link)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.LinkId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.LinkId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.LinkId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@



